@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100vw;
  height: 100vh;
  font-family: 'EB Garamond', serif;
}
